body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
	{
	margin: 0;
	padding: 0;
}

html body {
	height: 100%;
	width: 100%;
}

input[type=text],input[type=password],textarea {
	border: 1px solid;
	padding: 5px;
}

input[type=submit],input[type=button] {
	font: 14px/1.5 'Tahoma', 'simsun';
}

body {
	font: 12px/1.5 'Tahoma', 'simsun';
	text-align: center;
	margin: 0;
	padding: 0;
}

textarea {
	font: 12px/1.5 'Tahoma', 'simsun';
}
pre {
 white-space: pre-wrap;       /* CSS-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 Word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
div {
	font-size: 100%;
}

li {
	list-style: none outside none;
}

#register_tip {
	background-color: #FEFFE5;
	position: fixed;
	top: 60px;
	margin-left:-30px;
	clear: both;
	border: 1px solid #E6D4A9;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 2px #111;
	padding: 10px 20px 20px 20px;
	color: #000000;
	text-align: center;
	width: 110px;
	height: 30px;
}

.up_arrow {
	position: absolute;
	top: -10px;
	left: 50px;
	background: url("../image/arrow_new.png") no-repeat 0 0;
	height: 10px;
	width: 37px;
}

#img {
	border: 1px solid #CDCDCD;
}

#wraper {
	position: relative;
	margin: 30px auto;
	width: 940px;
	min-height: 600px;
}

#primary {
	position: relative; width : 80%;
	float: right;
	width: 87%;
}

/*********************footer style**********************/
#footer {
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 100%;
	height: 60px; /* Height of the footer */
	font-style: italic;
	color: #666666;
	text-align: center;
}

#footer hr {
	border-color: #D5D0BF -moz-use-text-color -moz-use-text-color;
	border-right: 0 none;
	border-style: dotted none none;
	border-width: 1px 0 0;
	margin: 10px;
}

/*********************************************************/


#registerform {
	margin: 0 auto;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-top: 100px;
	padding-bottom: 200px;
}

#registerform table {
	width: 500px;
}

#registerform th {
	font: 12px/1.5 'Tahoma', 'simsun';
	border: 1px solid #4583A6;
	border-bottom:0px solid #cdcdcd!important;
	color: #ffffff;
	line-height:35px;
}

#registerform .right_td {
	font: 12px/1.5 'Tahoma', 'simsun';
	border-left: 1px solid #4583A6;
	border-top: 0px solid #4583A6;
	border-right: 0px solid #4583A6;
	border-bottom: 1px solid #4583A6;
	width: 60%;
	padding: 10px;
	text-align: center;
}

#registerform .normal_td {
	font: 12px/1.5 'Tahoma', 'simsun';
	border: 1px solid #4583A6;
	border-top: 0px solid #4583A6!important;
	padding: 10px;
	text-align: center;
}

.mail_tip,.pw_tip,.repw_tip,.name_tip,.invite_tip{
	font: italic 14px/1.5 'Tahoma', 'simsun';
	border-left: 0px solid #4583A6;
	border-top: 0px solid #4583A6;
	border-right: 1px solid #4583A6;
	border-bottom: 1px solid #4583A6;
	text-align: left;
}
.sex_sel{
	border-right: 1px solid #4583A6;
	border-bottom: 1px solid #4583A6;
}

table {
	border-collapse: collapse;
}

.fixedtext input[type=text],input[type=password] {
	width: 200px;
}

.bottom_td {
	border-bottom: 1px solid #598EAB;
}


.shadow_bottom {
	/*background:url("../image/bottom_shadow.png") repeat-x bottom;*/
	box-shadow: 2px 2px 2px #111;
}



.tb_title_bg_color {
	background: url("../image/global_nav_bg.png") repeat-x scroll 0 0
		transparent;
}

.tb_content_bg_color {
	
}

.must_fill {
	color: #ff0000;
}

/*      control pannel stype definition       */
#quick_login td {
	font: 12px/1.5 'Tahoma', 'simsun';
	border: 0px solid #4583A6;
	background: url('../image/transparent_blue_bg.png') repeat;
	color: #ffffff;
	padding: 5px 5px 5px 5px;
}

#quick_login th {
	font: 12px/1.5 'Tahoma', 'simsun';
	border: 0px solid #4583A6;
	background: url('../image/transparent_blue_bg.png') repeat;
	padding: 5px 5px 5px 5px;
}

.text_button {
	cursor: pointer;
}

.app_list_item>a:hover,
#main_tip>a:hover,
.log_menu_item>a:hover{
	background:#ffffff !important ;
	color:#4583A6 !important;
}

.app_list_item>a,
#main_tip>a{
	display:block;
	padding:0 1.25em;
	line-height:35px;
	text-decoration : none;
	vertical-align:center;
}
.current_app>a{
	background:#fff;
    color:#4583A6 !important;
}

.app_list_item{
	float:left;
}

#ctrlpannel {
	background: url("../image/global_nav_bg.png") repeat-x scroll 0 0
		transparent;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 35px;
	z-index: 999;
}

#mainpannel {
	width: 940px;
	margin: 0 auto;
	position: relative;
	color: #ffffff;
	text-align: left;
}

#mainpannel a {
	color: #ffffff;
}

#user_op{
	float: left;
}


#main_tip,#user_tip {
	line-height:35px;
	float: left;
}

#main_tip {
	padding-left: 20px;
}

#user_tip {
	width: 100px;
	margin-left:30px;
}

#user_op {
	width: 350px;
}

#user_op img {
	position: absolute;
	border: 0px;
	top: 9px;
}

#text_tip {
	position:absolute;
	left:46%;
	width: 350px;
	line-height:35px;
}

#user_logon_logout {
	position: relative;
	overflow: visible;
	float: right;
}

.log_menu_item{
	float:left;
}

.log_menu_item>a{
	display:block;
	padding:0 1.25em;
	line-height:35px;
	text-decoration : none;
}


#quick_login {
	overflow: hidden;
	position: absolute;
	clear: both;
	color: #000000;
	top:35px;
	right: 0px;
	margin-left: -200px; /*fix ie8 display*/
	z-index: 9998;
}

#quick_login_table {
	width: 270px;
}

/*      control pannel stype definition       */
.no_display {
	display: none;
}


.round-top {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.round-bottom {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.putleft {
	text-align: left;
}

.striking_text {
	color: #ff0000;
}

.green_text {
	color: #00ff00;
}

.left_nevi {
	position: absolute;
	left: 10px;
}

.right_nevi {
	position: absolute;
	left: 100px;
}

.top_right_nevi {
	width: 150px;
	position: relative;
	padding-right: 40px;
	float: right;
}

/*****************send message page*********************/
#senddiag {
	text-align: left;
}

#sendto {
	background: url('../image/email.png') no-repeat 50px 22px;
	padding: 20px 0 0 70px;
}

#sendtip {
	padding: 20px 0 0 250px;
	height: 12px;
}

#sendcontant {
	padding: 12px 0 0 50px;
}

#sendcontrol {
	padding: 20px 0 20px 50px;
}

/*******************************************************/
	/********************* message page*********************/
.no_read_message_icon {
	background: url("../image/email.png") no-repeat 0 0;
	position: absolute;
	top: -10px;
	left: 20px;
	height: 20px;
	width: 20px;
}

.read_message_icon {
	background: url("../image/email_open.png") no-repeat 0 0;
	position: absolute;
	top: -10px;
	left: 20px;
	height: 20px;
	width: 20px;
}

.no_read_message {
	border-color: #000000;
	font: bold 12px/1.5 'Tahoma', 'simsun';
}

.read_message,.send_message {
	border-color: #cdcdcd;
}

.loop_message {
	padding: 60px 0 0;
	margin: 0 auto;
	width: 600px;
	text-align: left;
	padding-bottom: 60px;
}

.loop_message li.rec_message {
	position: relative;
	margin-top: 15px;
	display: inline-block;
	width: 80%;
	background-color: #F8F8FF;
	border-width: 1px;
	border-style: solid;
}

.loop_message li.send_message {
	position: relative;
	float: right;
	width: 80%;
	margin-top: 15px;
	display: inline-block;
	background-color: #FAFAD2;
	border-width: 1px;
	border-style: solid;
}

.message_info {
	float: left;
	padding: 10px 10px 10px 10px;
	width: 15%;
}

.message_content {
	float: left;
	width: 75%;
	padding: 10px 10px 20px 10px;
}

.message_control {
	clear: both;
	width: 90%;
	padding: 10px 10px 10px 10px;
	text-align: right;
}

.touser {
	float: right;
}

/*******************************************************/
	/*************************msg diag**********************/
.sendmsg_title {
	background-color: #4583A6; *
	zoom: 1;
	padding: 10px;
}

.title_close {
	float: right;
}

/*******************************************************/
/**********left cp style********************************/
#left_cpanel {
	padding-top: 50px;
	border-right: 1px solid #cdcdcd;
	min-height: 600px;
	width: 12%;
	float: left;
}

.current_page>a {
	background-color: #4583A6;
	color: #ffffff !important;
}

.left_cp_menu_item>a:hover {
	background-color: #4583A6;
	color: #ffffff;
}

.left_cp_menu_item>a {
	display: block;
	width: 100%;
	color: #222; 
	text-decoration : none;
	line-height: 3em;
	text-decoration: none;
}
/*******************************************************/
#portrait input[type="file"] {
	position: absolute;
	top: 0px;
	filter: Alpha(opacity = 0);
	opacity: 0;
}

#portrait input[type="file"]:hover {
	cursor: pointer;
}
#portrait{
	position:relative;
	margin:0 auto;
	width:213;
	height:221;
	overflow:hidden;
}
#portrait:hover{
    opacity: 0.5;
	filter: Alpha(opacity = 50);
}

#home_posts{
	width:80%;
	display:block;
	margin:20px 0 0 10px;
}

.home_post_0{
	width:80%;
	height:150px;
	margin-top:-4px;
	padding-top:10px;
	border-right:1px solid #cdcdcd;
	border-bottom:1px solid #cdcdcd;
	display:inline-block;
	text-align:left;
}

.home_post_1{
    width:80%;
    height:150px;
    margin-top:-4px;
    padding-top:10px;
    border-left:1px solid #cdcdcd;
    border-bottom:1px solid #cdcdcd;
    display:inline-block;
    text-align:left;
}

.new_post{
}

#post_bottom{
	width:80%;
	border:1px solid #cdcdcd;
	margin:20px 0 0 10px;
}
