.red_text{
	color:red;
}

.green_text{
	color:green;
}

.cursor_hand{
	cursor: pointer;
}

.small_image{
	width:15px;
	height:15px;
}
/*********publish page*********/
.uploadbutton input[type="file"] {
	position: absolute;
	top: 0px;
	filter: Alpha(opacity = 0);
	opacity: 0;
}

.uploadbutton input[type="file"]:hover {
	cursor: pointer;
}

.uploadbutton {
	position: relative;
	float: left;
	overflow: hidden;
	height: 16px;
	width: 16px;
	background: url(../image/image_1.png);
	opacity: 0.5;
	filter: Alpha(opacity = 50);
}

.uploadbutton:hover {
	opacity: 1;
	filter: Alpha(opacity = 100);
}

#publishform th {
	font: 12px/1.5 'Tahoma', 'simsun';
	border: 1px solid #4583A6;
	color: #ffffff;
	padding: 10px;
	text-align: left;
}

#publishform td {
	font: 12px/1.5 'Tahoma', 'simsun';
	border: 1px solid #4583A6;
	padding: 10px;
	text-align: left;
}

#publishform label {
	align: top;
}

#publishform {
	margin: 0 auto;
	display: inline-block;
	*zoom: 1;
	*display: inline;
	padding: 50px 0 0;
	text-align: left;
	padding-bottom: 60px;
}
/*********publish page*********/

#book_list{
	position:relative;
	width:300%;
}

.book_group{
	position:relative;
    width:33.3%;
}

.loop-tb {
	padding-top: 20px;
	width: 100%;
}
.imageupload {
	background: url("../image/imagebackground.png") no-repeat bottom right;
}


.item_status {
	position: absolute;
	right: 5px;
	top: 0px;
}

.item_title {
	position: absolute;
	left: 5px;
	top: 0px;
}
#photoreview {
	height: 310px;
	width: 310px;
}

#photoreview img {
	width: 310px;
	height: 310px;
}

.item_request_time_800 {
	position: absolute;
	left: 50%;
	top: 0px;
}

.item_owner_800 {
	position: absolute;
	left: 80%;
	top: 0px;
}

.title_ft {
	color: #0000ff;
}

#item_detail {
	postion: relative;
	margin: 30px auto;
	width: 95%;
	height: 400px;
	text-align: left;
}

.item_main_title{
	float:left;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2em;
	padding-left: 30px;
}

.item_main_addi{
	float:left;
	margin-top:10px;
	margin-left:20px;
	border:1px solid #cdcdcd;
}

.item_main_addi>a{
	vertical-align:-10px;
	text-decoration:none;
	font-size: 1em;
	background: url('../image/transparent_blue_bg.png') repeat;
	color:#ffffff;
	line-height: 1.25em;
    padding:0 0.5em;
	display:block;
}

#left-column {
	float: left;
	width: 49%;
}

#right-column {
	float: right;
	width: 49%;
}

.goods_pic {
	width: 310px;
	height: 310px;
}

div.photo {
	left: 10px;
	border: medium none;
	position: absolute;
	top: 15px;
}

div.detailed_info {
	position: absolute;
	left: 350px;
	top: 15px;
}

div.status {
	position: absolute;
	left: 550px;
	top: 15px;
}

div.goods_feature {
	position: absolute;
	left: 400px;
	top: 15px;
}

.litter_goods_pic {
	width: 60px;
	height: 60px;
}

#item_detail #right-column #description {
	height: 270px;
}

.desc_desc {
	height: 200px;
}

.desc_info {
	height: 60px;
}

#list {
	width: 300px;
}

#list_control {
	color: #FFFFFF;
	padding: 6px 10px;
}

#list_contant {
	padding: 6px 10px;
	border: 1px solid #4583A6;
}

.list_800 {
	width: 800px;
}

#replyitem {
	margin: 0px auto;
	width:95%;
	padding-top: 40px;
}

#requestlist {
	margin: 0px auto;
	display: inline-block;
	width:95%;
	padding-top: 40px;
	padding-bottom: 60px;
}

#requestlist_title {
	text-align:left;
	color: #FFFFFF;
	padding: 6px 10px;
}

#requestlist_contant {
	line-height: 20pt;
	padding: 0px 10px 16px;
	border: 1px solid #4583A6;
}

#requestlist_bottom {
	padding: 0px 10px;
	height: 3px;
}

.request_list_view {
	overflow: hidden;
}

.request_list_item {
	border-bottom: 1px dashed #CDCDCD;
	overflow: hidden;
	height: 30px;
	position: relative;
}


#add_book_loop{
	position: relative;
    padding: 10px 0 0;
    margin: 0 auto;
    width: 95%;
    height: 450px;
    padding-bottom: 60px;
    overflow:hidden;
}

/***********loop page*************/
#search_form {
	margin: 0 auto;
	display: inline-block;
	padding-top: 60px;
}

#loop {
	position: relative;
	padding: 60px 0 0;
	margin: 0 auto;
	width: 95%;
	padding-bottom: 60px;
}

#loop ul {
	width: 100%;
}

#loop li.title {
	position: relative;
	text-align: left;
	font: 16px/1.5 'Tahoma', 'simsun';
	border-bottom: 1px solid #C9C9FF;
	padding: 15px 0 15px 15px;
}

#loop li.item_list {
	clear: both;
	position: relative;
	overflow: visible;
	font: 12px/1.5 'Tahoma', 'simsun';
	border-bottom: 1px solid #C9C9FF;
	padding: 15px 0 15px 20px;

	text-align: left;
}

#loop li.item_list:hover {
	background-color: #F8F8FF;
}

.book_item_block
{
  width:31%;
  height:200px;
  padding: 5px 5px 5px 5px;
  float: left;

}

.book_item_block_image{
  width:50%;
  height:100%;
  display:inline-block;
  float: left;
}

.book_item_block_image img
{
  -webkit-box-shadow: 3px 3px 3px;
  -moz-box-shadow: 3px 3px 3px;
  box-shadow: 3px 3px 3px;
}

.book_item_block_desc{
  float:left;
  margin-left:5%;
  width:45%;
  height:50%;
}

.book_item_block_author{
  width:100%;
  text-align:left;
  font-style:italic;
  display:inline-block;
}
.book_item_block_title{
  width:100%;
  text-align:left;
  font-weight:bold;
  display:inline-block;
}


.book_item_block_action_button{
  background-color:#FF9900;
  border-radius:5px;
  color:white;
  text-align:center;
  width:70px;
  height:20px;
  display:inline-block;
  -webkit-box-shadow: 3px 3px 3px #E0E0E0;
  -moz-box-shadow: 3px 3px 3px #E0E0E0;
  box-shadow: 3px 3px 3px #E0E0E0;
}

.book_item_block_action{
  position:relative;
  margin-left:5%;
  float:left;
}

.add_book_title{
	position: relative;
    text-align: left;
    padding: 15px 0 30px 15px;
}

.abTitle{
	background-color: #4583A6;
	color: white;
    zoom: 1;
    padding: 10px;
}

.abClose{
	float: right;
}

#loop td {
	width: 100%;
	font: 12px/1.5 'Tahoma', 'simsun'; #
	background-color: #EDEDFF;
	padding: 5px 5px 5px 15px;
	text-align: left;
}
/***********loop page*************/